body{
    background-color: rgb(45, 45, 45);
    font-family: 'TT Bluescreens Trl Cnd', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    min-width: 1440px;
    max-width: fit-content;
    align-content: center;
    
}
header{
border-bottom: 1px solid #000;
background: rgba(0, 0, 0, 0.30);
font-family: 'TT Norms';
font-size: 24px;
width: 1440px;
height: 168px;
border: none;
position: fixed;
}

.background_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 1260px;
  padding-left: 90px;
  padding-right: 90px;
}


.header__container {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 1260px;
}
.horizontal {
    display: flex;
    align-items: center;
}
.space-between {
    justify-content: space-between;
  }
.navigation__item{
    margin-right: 72px;
    margin-left: 72px;
    font-size: 24px;
    line-height: 135%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    display: inline;
}

.navigation__left .navigation__item:not(:last-child) {
    margin-right: 116px;
}

.navigation__right .navigation__item:not(:first-child) {
    margin-left: 116px;
}

.navigation__item:nth-child(2){
    color: rgb(255, 255, 255);
}
.navigation__item:nth-child(1) {
    color: rgb(255, 255, 255);
}




.logo {
    width: 98px;
    height: 118px;
    padding: auto;
    flex-shrink: 0;
    object-fit: contain;
}
.logo__link {
    display: block;
    width: 100%;
    height: 100%;
  }
.logo__img{
    width: 98px;
    height: 118px;
    object-fit: contain;
    display: block;
    margin: auto;

} 



.block_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    height: 1108px;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide_1{
    text-align: center;
    color: #FFF;
    font-family: 'TT Bluescreens Trl Cnd';
    font-size: 400px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0%;
    text-shadow:
      0 0 1px #ffffffb3,
      0 0 2px #ffffffba,
      0 0 5px #ffffff87,
      0 0 40px rgba(0, 255, 247, 0.717);
      
}
.slide_1_1{
    text-align: center;
    color: #FFF;
    font-family: 'TT Norms';
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    text-shadow:
      0 0 1px #ffffffb3,
      0 0 2px #ffffffba,
      0 0 5px #ffffff87,
      0 0 40px rgba(0, 255, 247, 0.717);
}




.block_2{
    display: flex;
    flex-direction: column;
    width: 1440px;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.zagolovok{
    display: flex;
}
.text_and_photo{
 display: flex;
}
.slide_2{
    position: absolute;
    color: #FFF;
    font-family: 'TT Bluescreens Trl Cnd';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 161px;
    height: 86px; 
    left: 0px;
    border-radius: 50%;
    padding-left: 90px;
}
.line__img{

    height: 6px;
    width: 100%;
    box-shadow:
      0 0 1px #ffffffb3,
      0 0 2px #ffffffba,
      0 0 5px #ffffff9e,
      0 0 20px rgba(0, 255, 247, 0.714),
      0 0 40px rgba(0, 255, 247, 0.584),
      0 0 80px rgba(0, 255, 247, 0.465);
}



.face__img{
    
    text-align: right;
    height: 100%;
    padding-left: 128px;
    margin: auto;
}
.text_slide_2{
    color: #FFF;
    text-align: left;
    font-family: TT Norms;
    font-size: 24px;
    font-style: normal;
    height: 427px;
    width: 489px;
    padding-top: 213px;
    padding-left: 92px;
    margin: 0%;

}






.block_3{
   
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1108px;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide_3{
    color: #FFF;
    font-family: 'TT Bluescreens Trl Cnd';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 161px;
    height: 86px;
    left: 0px;
    border-radius: 50%;
}
.z_wrapper{
    position: relative;
    display: flex; 
    margin-top: 231px;
}
  
.z_block{
    position:absolute;

    width: 256px;
    height: 256px;
    flex-shrink: 0;
    border-radius: 51px;
border: 6px solid #FFF;

}
  
.z1{
    background-color:white;
    z-index:3;
    background-image: url(../img/human_line-01.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 66px;

} 
.z2{
    background-color:darkgrey;
    z-index:2;
    left: 502px;
    background-image: url(../img/heands_line-01.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
  
}
.z3{
    background-color:grey;
    z-index:1;
    left: 938px;
    background-image: url(../img/flower_line-01.png) ;
    background-size: 120%;
    background-repeat: no-repeat;
  
}


.z_text_1{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 32px;
font-style: normal;
font-weight: 500;
padding-top: 329px;
}
.z_text_2{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 32px;
font-style: normal;
font-weight: 500;
padding-top: 329px;
}
.z_text_3{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 32px;
font-style: normal;
font-weight: 500;
padding-top: 329px;
}



.z_minitext_1{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 264px;
height: 85px;
flex-shrink: 0;
}
.z_minitext_2{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 264px;
height: 85px;
flex-shrink: 0;
}
.z_minitext_3{
    color: #FFF;
text-align: center;
font-family: TT Norms;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 264px;
height: 85px;
flex-shrink: 0;
}





.block_4{
       
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 878px;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide_4{
    color: #FFF;
    font-family: 'TT Bluescreens Trl Cnd';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 161px;
    height: 86px;
    left: 0px;
    border-radius: 50%;
}
.text_slide_4{
    color: #FFF;
    font-family: TT Norms;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 79px;
    padding-bottom: 70px;
}
.z_wrapper_2{
    width: 1260px;
    height: 580px;
}
.z4{
    width: 717px;
    height: 448px;
    border-radius: 98px;
    border: 8px solid rgba(212, 250, 255, 0.20);
    background: rgba(255, 255, 255, 0.17);
    margin-left: 271px;
}
.inside_z4{
    position: relative;
}
.z5{
    border-radius: 30px;
    background: #D9D9D9;
    width: 489px;
    height: 44px;
    border: 0px;
    font-size: 30px;
    font-family: TT Norms;
    color: #898989;
    margin-top: 82px;
    padding-left: 20px;
    margin-left: 114px;
}
.z6{
    border-radius: 30px;
    background: #D9D9D9;
    width: 489px;
    height: 44px;
    border: 0px;
    font-size: 30px;
    font-family: TT Norms;
    color: #898989;
    margin-top: 76px;
    padding-left: 20px;
    margin-left: 114px;
}
.z7{
    border-radius: 30px;
    background: #D9D9D9;
    width: 489px;
    height: 44px;
    border: 0px;
    font-size: 30px;
    font-family: TT Norms;
    color: #898989;
    margin-top: 76px;
    margin-bottom: 82px;
    padding-left: 20px;
    margin-left: 114px;
}
.button{
    width: 257px;
    height: 44px;
    border-radius: 30px;
    border-style: none;
    background: #D9D9D9;
    flex-shrink: 0;
    color: #656565;
    font-family: TT Norms;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 230px;
    margin-top: 44px;
}
button:hover {
    cursor: pointer;
	background: rgba(0,0,0,0);
	color: #82d2da;
	box-shadow: inset 0 0 0 3px #3a7999;
}



footer{
    width: 100%;
    height: 436px;
    background-color: #000;
}

.wave_block{
    height: auto;
}

.wavy {
    -webkit-animation: 0.9s infinite bgPos linear;
    animation: 3s infinite bgPos linear;
    background: repeating-linear-gradient(-45deg, transparent, transparent 9px, #ccc 10px, #ccc 3px) 
     repeat scroll 0 0%, repeating-linear-gradient(45deg, transparent, transparent 9px, #87fdff 89px, #87fdff 12px) 
     repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 6px;
    width: 100%;
    background-size: 114px;
    stroke-width: 60px;
    stroke: #8bffff;
    filter: blur(2px);
    margin: 0px;
}

@-webkit-keyframes bgPos {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: 100% 0, 100% 0;
    };
}

   @keyframes bgPos {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 100% 0;
    };
}

.last_slide{
    padding-top: 47px;
}
.lastlogo{
    width: 98px;
    height: 118px;
    flex-shrink: 0;
    padding-top: 47px;
    padding-right: 671px;
    padding-left: 671px;
    padding-bottom: 261px;
}
.last_slide_text{
    color: #FFF;
    text-align: center;
    font-family: 'TT Norms';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 29px;
    padding-bottom: 98px;
}